<launch>
  <node pkg="localization" type="particle_filter.py" name="particle_filter" output="screen">
    <rosparam command="load" file="$(find localization)/params_real.yaml"/>
  </node>

  <arg name="map" default="$(find localization)/maps/basement_fixed.map.yaml"/>
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map)"/>
</launch>
